/* Chocomart Logotype in pure CSS */
.b-logo__chocomart {
}

.e-chocomart__start {
    color: #494d4f;
    font-weight: 100;
    letter-spacing: -2.5px;
}

.e-chocomart__middle {
    color: #c23838;
    letter-spacing: -2.5px;
}

.e-chocomart__end {
    color: #494d4f;
    vertical-align: super; 
    font-size: 35%;
    position: absolute;
    font-weight: 400;
    line-height: 50%;
}